<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MyBatis 프레임 워크 방식에 따라서 SQL문 관리 -->
<!-- namespace : 데이터베이스 관련 Mapper 인터페이스의 경로 설정
                    BoardMapper, TestMapper 등에서 쿼리 태그들의 id 중복되어도
                    namespace를 구분지어서 찾아감 -->
<mapper namespace="com.project.chaser.service.SnsMapper">
    <!-- 게시글 등록 -->
    <insert id="insertPost" parameterType="com.project.chaser.dto.Sns" useGeneratedKeys="true" keyProperty="snsIdx">
        insert into sns (SnsTitle, SnsContent, Category, UserIdx)
        values (#{SnsTitle}, #{SnsContent}, #{Category}, #{UserIdx})
    </insert>

    <!-- 파일 등록 -->
    <insert id="insertFile" parameterType="com.project.chaser.dto.Snsfile">
        insert into snsfile (SnsIdx, FileName, FilePath, FileSize, FileType)
        values (#{SnsIdx}, #{FileName}, #{FilePath}, #{FileSize}, #{FileType})
    </insert>

    <!-- 게시글 상세 -->
    <select id="getPost" parameterType="int" resultType="com.project.chaser.dto.Sns">
        select * from sns where SnsIdx = #{SnsIdx}
    </select>

    <update id="updateViews">
        update sns set SnsViews = SnsViews + 1 where SnsIdx = #{SnsIdx} <!-- 조회수 증가 -->
    </update>

    <!-- 파일 리스트 -->
    <select id="getFiles" parameterType="int" resultType="com.project.chaser.dto.Snsfile">
        select * from snsfile where SnsIdx = #{SnsIdx} order by FileIdx asc
    </select>

    <!-- 게시글 목록 -->
    <select id="getPostList" resultType="com.project.chaser.dto.Sns">
        select * from sns order by SnsIdx DESC
    </select>

</mapper>