<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MyBatis 프레임 워크 방식에 따라서 SQL문 관리 -->
<!-- namespace : 데이터베이스 관련 Mapper 인터페이스의 경로 설정
                    BoardMapper, TestMapper 등에서 쿼리 태그들의 id 중복되어도
                    namespace를 구분지어서 찾아감 -->
<mapper namespace="com.project.chaser.service.UserMapper">

    <select id="loginUser" parameterType="com.project.chaser.dto.User"
            resultType="com.project.chaser.dto.User">
        select * from user where UserId = #{UserId}
    </select>

    <insert id="joinUser" parameterType="com.project.chaser.dto.User">
        insert into user (UserId, PasswordHash, Name, Nickname, Email, Phone, Gender, BirthDate)
        values (#{UserId}, #{PasswordHash}, #{Name}, #{Nickname}, #{Email}, #{Phone}, #{Gender}, #{BirthDate})
    </insert>

    <select id="idCheck" parameterType="String">
        select count(UserId) from user where UserId = #{UserId}
    </select>

    <select id="nickCheck" parameterType="String">
        select count(Nickname) from user where Nickname = #{Nickname}
    </select>

    <update id="updateUser" parameterType="com.project.chaser.dto.User">
        update user set PasswordHash = #{PasswordHash}, Nickname = #{Nickname}, Email = #{Email}, BirthDate = #{BirthDate}, Phone = #{Phone} where UserId = #{UserId}
    </update>

    <select id="findId" resultType="String">
        select UserId from user where Name = #{Name} and Email = #{Email}
    </select>

</mapper>